body {
  margin: 0;
  padding: 15px;
}

.main {
  width: 100%;
  border-color: black;
  border-width: 15px;
  border: solid;
  padding: 10px;
}

.rec {
  height: 150px;
  width: 50px;
  background-color: hotpink;
  display: inline-flex;
}

.square {
  height: 200px;
  width: 400px;
  display: inline-block;
  background-color: cornflowerblue;
  margin: 0 50px;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: greenyellow;
  float: right;
}

.maintwo {
  width: 100%;
  border-color: black;
  border-width: 15px;
  border: dotted;
  padding: 60px;
  margin-top: 25px;
}

.largerec {
  margin: 5px;
  padding: 55px;
  width: 85%;
  background-color: black;
}

.greetbox {
  width: 50%;
  border-color: black;
  border-width: 15px;
  border: solid;
  padding: 90px;
  margin-top: 25px;
  margin-left: 200px;
  text-align: center;
}