body {
  margin: 0;
  padding: 15px;
}

.main {
  height: 130px;
  width: 100%;
  background-color: darkgray;
}

.square {
  height: 100px;
  width: 100px;
  background-color: blue;
  margin: 15px;
  display: inline-block;
}

p {
  text-align: center;
  padding: 20px;
}

.main1 {
  height: 130px;
  width: 100%;
  background-color: cornflowerblue;
}

.main2 {
  height: 130px;
  width: 100%;
  background-color: lightseagreen;
}

.main3 {
  height: 130px;
  width: 100%;
  background-color: lawngreen;
}

.main4 {
  height: 130px;
  width: 100%;
  background-color: yellow;
}