header {
  text-align: center;
  height: 80px;
  width: 100%;
  background-color: dimgray;
}

.contentleft {
  padding: 15px;
  width: 15%;
  height: 100vh;
  background-color: bisque;
  float: left;
}

.contentright {
  padding: 15px;
  height: 100vh;
  width: 15%;
  text-align: center;
  float: right;
  background-color: burlywood;
}

footer {
  background-color: dimgray;
  padding-top: 50px;
  position: fixed;
  bottom: 0;
  left: 21%;
  width: 8%;
  padding-left: 50%;
}